main{
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

.inContent{
    margin: 0 auto;
    max-width:1300px;
}

.inContent .box .item{
    width:550px;
    height:450px;
    float: left;
    margin-right:80px;
    margin-bottom:36px;
}

.inContent .box .item .imgLink img{
    width: 100%;
    height: 410px;
    transition: all 0.3s ease;
    border-radius: 5%;
    box-shadow: 5px 5px rgba(200, 252, 180, 0.8);
    border:solid 2px #111;
    transform: scale(1.06, 1.06);
}
.inContent .box .item .imgLink img:hover{
    opacity: .8;
    box-shadow:none;
    transform: none;
}

.inContent .box .item .linkTitle h3{
    color:#111;
    text-align: center;
    transition: all 0.3s ease;
}
.inContent .box .item .imgLink:hover + .linkTitle h3,
.inContent .box .item .linkTitle:hover h3{
    margin-top: 14px;
    padding:8px 0;
    background: rgb(2, 160, 15);
    color:#FFF;
    border:1px solid #eba40b;
    box-shadow: 0 0 5px 2px rgba(241, 146, 22, 0.815);
}
@media screen and (max-width: 1000px){
    main{
        width: 780px;
    }
}
@media screen and(min-width: 1000px) and (max-width:1350px){
    main{
        width: 1000px;
    }
}
@media screen and (min-width: 1350px) and (max-width:1670px){
    main{
        width: 1350px;
    }
}
@media screen and (min-width: 1670px){
    main{
        width: 1680px;
    }
}
